<html lang="zh-cn">
     <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>早教|托教|上海XXXX托教中心_官网</title>
        <meta name="keywords" content="托教, 托育,托管,婴儿托管,幼儿园加盟, 早教中心,幼儿教育,幼儿早教,国际早教中心,幼儿早教课程,早教加盟,托管中心,托管加盟, 托教中心加盟,早教中心加盟">
        <meta name="description" content="国际化知名托教+早教综合品牌，拥有美国原创Daycare课程体系,纯双语教学环境,全球11国家138家中心,智能安全的教学环境+美国进口的教学用具,与百万家庭共同见证宝宝成长。">
        <link rel="shortcut icon" href="/static/themes/default/images/ico.png">
        <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/static/themes/default/css/main.css" rel="stylesheet" type="text/css" media="screen" />
        <!--移动端跳转-->
        <!--
        <link rel="alternate" type="application/vnd.wap.xhtml+xml" media="handheld" href="http://m.xxx.cn"/>
        -->

        {% block head %}
        <title>{% block title %}主站{% endblock %} - 上海XXXX托教中心</title>
        {% endblock %}
     </head>
     <body>
         {% block navbar %}
         <header>
             <nav class="navbar navbar-default">
                 <div class="container-fluid">
                         <ul class="nav navbar-nav">
                             <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                             <li><a href="#">Link</a></li>
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                 <ul class="dropdown-menu">
                                     <li><a href="#">Action</a></li>
                                     <li><a href="#">Another action</a></li>
                                     <li><a href="#">Something else here</a></li>
                                     <li role="separator" class="divider"></li>
                                     <li><a href="#">Separated link</a></li>
                                     <li role="separator" class="divider"></li>
                                     <li><a href="#">One more separated link</a></li>
                                 </ul>
                             </li>
                         </ul>
                 </div>
             </nav>
         </header>
         {% endblock %}

         {% block content %}
         <div class="container">
             <div class="page-header">
                 <h1>Hello, {{ name }}!</h1>
             </div>
         </div>
         {% endblock %}
     </body>
     <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
     <script type="text/javascript">
$(function(){
    // $("div").animate({left:'250px'});
});
     </script>
</html>
