<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>早教|托教|嘟马奇|上海嘟马奇托教中心_官网</title>
        <meta name="keywords" content="嘟马奇, 托教, 托育,托管,婴儿托管,幼儿园加盟, 早教中心,幼儿教育,幼儿早教,国际早教中心,幼儿早教课程,早教加盟,托管中心,托管加盟, 托教中心加盟,早教中心加盟">
        <meta name="description" content="国际化知名托教+早教综合品牌，拥有美国原创Daycare课程体系,纯双语教学环境,全球11国家138家中心,智能安全的教学环境+美国进口的教学用具,与百万家庭共同见证宝宝成长。">
        <link rel="shortcut icon" href="/static/themes/default/images/icon.png">
        <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/static/themes/default/css/main.css" rel="stylesheet" type="text/css" media="screen" />
        <!--移动端跳转-->
        <!--
            <link rel="alternate" type="application/vnd.wap.xhtml+xml" media="handheld" href="http://m.xxx.cn"/>
        -->

        {% block head %}
        <title>{% block title %}主站{% endblock %} - 上海嘟马奇托教中心</title>
        {% endblock %}
    </head>
    {% block body %}
    <body>
        {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">嘟马奇</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="inactive"><a href="/">首页</a></li>
                        <li class="inactive"><a href="/home/aboutus">企业简介</a></li>
                        <li class="inactive"><a href="/home/education">教育特色</a></li>
                        <li class="inactive"><a href="/home/idea">教育理念</a></li>
                        <li class="inactive"><a href="/home/curriculum">课程体系</a></li>
                        <li class="inactive"><a href="/home/activity">活动讯息</a></li>
                        {% if current_user.is_authenticated %}
                        <li class="inactive"><a href="/schedule">预约信息管理</a></li>
                        <li class="inactive"><a href="/auth/logout">退出</a></li>
                        {% else %}
                        <li class="inactive"><a href="/auth/login">登陆</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div id="side-menu">
            <ul class="menu">
                <li class="side-menu-item"><a href="/">首页</a></li>
                <li class="side-menu-item"><a href="/home/brand">品牌故事</a></li>
                <li class="side-menu-item"><a href="/home/curriculum">课程体系</a></li>
                <li class="side-menu-item"><a href="/home/nursery">幼儿托教</a></li>
                <li class="side-menu-item"><a href="/home/contact">联系我们</a></li>
                {% if current_user.is_authenticated %}
                <li class="side-menu-item"><a href="/schedule">预约信息管理</a></li>
                <li class="side-menu-item"><a href="/auth/logout">退出</a></li>
                {% else %}
                <li class="side-menu-item"><a href="/auth/login">登陆</a></li>
                {% endif %}
            </ul>
        </div>
        {% endblock %}

        <div class="container">
            {% block content %}
            <div class="intro-header">
                <img style="width: 100%" src="/static/themes/default/images/mid_banner2.jpg"></img>
            </div>
            <div class="">
            {% block main_content %}{% endblock %}
            </div>
            {% endblock %}
        </div>

        {% block footer%}
        <div class="footer">
            <span>版权所有 © 2017，嘟马奇教育公司 | <a src="#">备案</a></span>
        </div>
        {% endblock %}
    </body>
    {% endblock %}
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
$(function(){
    $(".navbar button").click(function(e){
        $("#side-menu").show();
        e.stopPropagation();
    });
    $("body").click(function(){
        $("#side-menu").hide();
    });
    // $("div").animate({left:'250px'});
});
    </script>
</html>
