{% extends "base.html" %}

{% block main_content %}
<p style="text-indent:2em">
嘟马奇一个专注从事 2-12 岁儿童思维教育的艺创中心，总部设在上海。核心团队历时多年研发 出儿童艺术思维教育的课程体系和托教家的创新模式。
爱因斯坦说过逻辑把你从 A 带到 B，但是想象力把你带去任何地方。嘟马奇关注少儿时期的思维 开发和创造想象力培养，将艺术与科学相融合，倡导通过儿童艺术思维教育发掘幼儿大脑的无限 可能，提高思考力和创新力，帮助孩子成为未来的创新型精英人才。
</p>

<h3>教育特色</h3>
嘟马奇四大教育特色
<h4 class="text-danger">1、 完整的课程体系</h4>
<p style="text-indent:2em">
嘟马奇托教家拥有结构完整、内容生动完备的特色课程体系，DOMAQI 艺创思维、DOMAQI 艺术沙 龙、 DOMAQI 托教家
</p>

<h4 class="text-danger">2、中心、机构和家庭教育三一体</h4>
<p style="text-indent:2em">
无论是从课程设计还是教玩用具的组合设置，嘟马奇都充分考虑到孩子在中心、幼儿园和家庭的 不同学习情况和学习心理。在满足不同年龄段孩子求知性的基础上，针对不同孩子的个性特质和 家庭教育情况制定了教学中心，机构教育和到府教育等形式多样、课程安排灵活的教育计划。让 孩子、父母和嘟马奇的教师之间形成团结紧密的金三角，全面发掘孩子的天赋才能，让孩子在一 生中最宝贵的儿童时期获得充满爱和智慧的创意教育。
</p>

<h4 class="text-danger">3、心怀使命的专业教师团队</h4>
<p style="text-indent:2em">
爱心、恒心、耐心、细心、责任心这五心是嘟马奇对引导老师的基本要求。在标准化教师培训和 考核提心的统一指导下，嘟马奇专业教师不仅要具备相应的教学经验和教育资质，还必须拥有优 秀的品格。嘟马奇不是简单的让孩子吸收现有的成果，而那时游刃有余的运用惊喜的教学方法培 养孩子们自主进行创意性学习的好习惯，特别注重通过运用游戏式的教育去引导孩子们独立思 考问题和创造性的解决问题。嘟马奇专业引导教师是使命是将嘟马奇你脑力引擎课程变成充满 爱和趣味的教育:动手动脑还启发心智，嘟马奇引导式的教育方式不仅培养孩子学习知识的能力， 还塑造孩子完善而高贵的品格。
</p>
<p>
激发充满爱和创意的引擎 分享具有附加值的创意性培训
</p>

<h4 class="text-danger">4、科学的教具体系</h4>
<p style="text-indent:2em">
嘟马奇含有感统器械、福禄贝尔教具、蒙氏教具、乐博士积木、奥尔夫乐器等为基础，搭配课程 展开丰富多彩、层层深入的教学游戏，帮助孩子认识和理解世界万物和人文思想，无束缚的想象 力和创意力，并从空间立体思维奠定全局观和前瞻性，提高孩子又步骤，有逻辑的解决问题的能 力，从而形成全方位的认知能力以及成就孩子勇于表达、善于表现、自信乐观的性格品质。
</p>

<h3>教育理念</h3>
<p style="text-indent:2em">
多维培养 全面成长
</p>
<p style="text-indent:2em">
智能是人在特定情景中解决问题并有所创造的能力，根据心理发展学家霍华德·加德纳(Howard Gardner)的研究得出结论人在学习能力上的差异主要体现在九个方面，即语言智能、逻辑数理智 能、空间智能、运动智能、音乐智能、人际交往智能、内省智能、自然观察智能和存在智能。 嘟马奇提出的特色的儿童艺术思维教育的课程体系和托教家的创新模式就是对应综合培养这九 项智能， 我们会针对儿童的不同特征进行优化智能组合，精准把握儿童发展的整体面，培养完 整的人。在孩子的成长过程中文化的熏陶和环境的刺激都不可或缺，前期的潜能开发要通过多方 面认知，多角度观察、多感官刺激及多手段探索的模式体系来实现智能维衡的目标
</p>
{% endblock %}
