{% extends "base.html" %}

{% block main_content %}
<h3>课程体系</h3>

<h4 class="text-danger">1、托教家</h4>
<p style="text-indent:2em">
嘟马奇托教家将‘’创新的托班+创新性的儿童思维教育课程”相融合。 托教家包含了感统、蒙氏感官数理、福禄贝尔、美育、奥尔夫音乐针对性的培养孩子的逻辑力、 创意力、艺术美学、数理思维能力等能力，全方位覆盖孩子的成长所需。培养孩子的逻辑判断思 维、战略运筹能力和文艺审美气质。
在集体生活中，儿童可以更早地接触集体和人群，提升与人沟通、交流的能力，更早地适应团体 生活;完整的课程体系训练则能够提高儿童的智体全面发展，建立自我身体和精神意识，构建健 康的人格。儿童思维教育亲子课程则能够拉近父母与孩子的沟通，让父母更了解孩子，增加亲子 之间的交流，一同成长。托教家既解决了孩子无人照看的问题又同时进行了九大智能的培养，一 站式的服务解决家长关于儿童托管、早期教育和看管的一系列需求。
</p>

<h4 class="text-danger">2、儿童艺术思维课程</h4>
<p style="text-indent:2em">
通过嘟马奇艺术思维课， 推出系统艺术思维能力培养计划，来培养和提升幼儿的创造、创新的 核心能力。嘟马奇艺创中心的关键词“艺术思维能力”是指能更适应未来的个性化科技创新教育。 它将审美设计与结构设计相结合，从艺术和科学的角度筛选信息，不断提高儿童的审美力、思考 力、全局观、沟通表达能力、问题解决能力。
</p>

<h4 class="text-danger">3、艺术沙龙课程</h4>
<p style="text-indent:2em">
嘟马奇艺术沙龙独创亲子同步课程，幼儿表演形式，配以多样化的艺术材料和课程形式，最大限 度的激发幼儿的想象力。通过富有创意的玩乐和学习启迪和培养未来的创建者
</p>
{% endblock %}

