{% extends "base.html" %}

{% block main_content %}
<h3>嘟马奇 - 四大教育特色</h3>
<h4 class="text-danger">1、 完整的课程体系</h4>
<p style="text-indent:2em">
嘟马奇托教家拥有结构完整、内容生动完备的特色课程体系，DOMAQI 艺创思维、DOMAQI 艺术沙 龙、 DOMAQI 托教家
</p>

<h4 class="text-danger">2、中心、机构和家庭教育三一体</h4>
<p style="text-indent:2em">
无论是从课程设计还是教玩用具的组合设置，嘟马奇都充分考虑到孩子在中心、幼儿园和家庭的 不同学习情况和学习心理。在满足不同年龄段孩子求知性的基础上，针对不同孩子的个性特质和 家庭教育情况制定了教学中心，机构教育和到府教育等形式多样、课程安排灵活的教育计划。让 孩子、父母和嘟马奇的教师之间形成团结紧密的金三角，全面发掘孩子的天赋才能，让孩子在一 生中最宝贵的儿童时期获得充满爱和智慧的创意教育。
</p>

<h4 class="text-danger">3、心怀使命的专业教师团队</h4>
<p style="text-indent:2em">
爱心、恒心、耐心、细心、责任心这五心是嘟马奇对引导老师的基本要求。在标准化教师培训和 考核提心的统一指导下，嘟马奇专业教师不仅要具备相应的教学经验和教育资质，还必须拥有优 秀的品格。嘟马奇不是简单的让孩子吸收现有的成果，而那时游刃有余的运用惊喜的教学方法培 养孩子们自主进行创意性学习的好习惯，特别注重通过运用游戏式的教育去引导孩子们独立思 考问题和创造性的解决问题。嘟马奇专业引导教师是使命是将嘟马奇你脑力引擎课程变成充满 爱和趣味的教育:动手动脑还启发心智，嘟马奇引导式的教育方式不仅培养孩子学习知识的能力， 还塑造孩子完善而高贵的品格。
</p>
<p>
激发充满爱和创意的引擎 分享具有附加值的创意性培训
</p>

<h4 class="text-danger">4、科学的教具体系</h4>
<p style="text-indent:2em">
嘟马奇含有感统器械、福禄贝尔教具、蒙氏教具、乐博士积木、奥尔夫乐器等为基础，搭配课程 展开丰富多彩、层层深入的教学游戏，帮助孩子认识和理解世界万物和人文思想，无束缚的想象 力和创意力，并从空间立体思维奠定全局观和前瞻性，提高孩子又步骤，有逻辑的解决问题的能 力，从而形成全方位的认知能力以及成就孩子勇于表达、善于表现、自信乐观的性格品质。
</p>
{% endblock %}

