body {
    font-size: 1.6em;
    /*min-height: 2048px;*/
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    color: #5c77ab;
    margin-top: 2em;
}

.footer {
    background-image: url(/static/themes/default/images/footer.png);
    background: #ffb901;
    background-position: center top;
    padding-top: 5px;
    color: white;
    text-align: center;
    min-height: 4em;
    padding-top: 1em;
    margin-top: 3em;
}


.home_footer {
    width: 100%;
    background-position: center top;
    padding-top: 5px;
    color: white;
    text-align: center;
    min-height: 4em;
    margin-top: -5px;
    padding-right: 0px;
    padding-right: 0px;

}

.footer a {
    color: white;
}

.page-content {
    margin-top: 2em;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}


.container-fluid {

}

.navbar-top {
    background-color: #f1a824;
    min-height: 10px;
    border: 0px;
}

.navbar {
    /* background-color: #f1a824; */
    background-color: transparent;
    background-image: url(/static/themes/default/images/header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 152px;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar button {
    border: none;
}

.navbar-default .navbar-toggle span.icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    padding: 8px;
    margin-top: 40px;
}

#side-menu {
    height: 2048px;
    width: 128px;
    position: fixed;
    right: 0px;
    top: 0px;
    display: none;
    background-color: black;
}

.menu {
    list-style: none;
}

.menu li a {
    color: white;
    font-size: 1em;
}

.side-menu-item {
    margin-top: 32px;
}

.navbar-right {
    float: right;
}

.login-form {
    width: 340px;
}

.login-form input {
    margin-bottom: 8px;
    border: solid 2px darkgray;
    width: 100%;
}

.login-form input.login-submit {
    border:none;
    width: 64px;
}

.login-form ul {
    padding-left: 0px;
}

@media (max-width: 425px)
.navbar {
    min-height: 30px;
}

