input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block {
    width: 100%
}

.btn-danger.active,.btn-info.active,.btn-inverse.active,.btn-primary.active,.btn-success.active,.btn-warning.active {
    color: rgba(255,255,255,.75)
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #006dcc;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-primary.active,.btn-primary.disabled,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.btn-primary[disabled] {
    color: #fff;
    background-color: #04c
}

.btn-primary.active,.btn-primary:active {
    background-color: #039\9
}

.btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #faa732;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
    background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom,#fbb450,#f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-warning.active,.btn-warning.disabled,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.btn-warning[disabled] {
    color: #fff;
    background-color: #f89406
}

.btn-warning.active,.btn-warning:active {
    background-color: #c67605\9
}

.btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #da4f49;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
    background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-danger.active,.btn-danger.disabled,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.btn-danger[disabled] {
    color: #fff;
    background-color: #bd362f
}

.btn-danger.active,.btn-danger:active {
    background-color: #942a25\9
}

.btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #5bb75b;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-success.active,.btn-success.disabled,.btn-success:active,.btn-success:focus,.btn-success:hover,.btn-success[disabled] {
    color: #fff;
    background-color: #51a351
}

.btn-success.active,.btn-success:active {
    background-color: #408140\9
}

.btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #49afcd;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
    background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-info.active,.btn-info.disabled,.btn-info:active,.btn-info:focus,.btn-info:hover,.btn-info[disabled] {
    color: #fff;
    background-color: #2f96b4
}

.btn-info.active,.btn-info:active {
    background-color: #24748c\9
}

.btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #363636;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
    background-image: -webkit-linear-gradient(top,#444,#222);
    background-image: -webkit-linear-gradient(top, #444, #222);
    background-image: linear-gradient(to bottom,#444,#222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    border-color: #222 #222 #000;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-inverse.active,.btn-inverse.disabled,.btn-inverse:active,.btn-inverse:focus,.btn-inverse:hover,.btn-inverse[disabled] {
    color: #fff;
    background-color: #222
}

.btn-inverse.active,.btn-inverse:active {
    background-color: #080808\9
}

button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner {
    padding: 0;
    border: 0
}

.btn-link,.btn-link:active,.btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    box-shadow: none
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #08c;
    border-radius: 0
}

.btn-link:focus,.btn-link:hover {
    color: #005580;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus,.btn-link[disabled]:hover {
    color: #333;
    text-decoration: none
}

.btn-group {
    position: relative;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap
}

.btn-group+.btn-group {
    margin-left: 5px
}

.btn-toolbar {
    font-size: 0;
    margin-top: 10px;
    margin-bottom: 10px
}

.btn-toolbar>.btn+.btn,.btn-toolbar>.btn+.btn-group,.btn-toolbar>.btn-group+.btn {
    margin-left: 5px
}

.btn-group>.btn {
    position: relative;
    border-radius: 0
}

.btn-group>.btn+.btn {
    margin-left: -1px
}

.btn-group>.btn,.btn-group>.dropdown-menu,.btn-group>.popover {
    font-size: 14px
}

.btn-group>.btn-mini {
    font-size: 10.5px
}

.btn-group>.btn-small {
    font-size: 11.9px
}

.btn-group>.btn-large {
    font-size: 17.5px
}

.btn-group>.btn:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.btn-group>.btn:last-child,.btn-group>.dropdown-toggle {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.btn-group>.btn.large:first-child {
    margin-left: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.btn-group>.btn.large:last-child,.btn-group>.large.dropdown-toggle {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.btn-group>.btn.active,.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover {
    z-index: 2
}

.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle {
    outline: 0
}

.btn-group>.btn+.dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: inset 1px 0 0 rgba(255,255,255,.125),inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05)
}

.btn-group>.btn-mini+.dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px
}

.btn-group>.btn-large+.dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px
}

.btn-group.open .dropdown-toggle {
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #04c
}

.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #f89406
}

.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #bd362f
}

.btn-group.open .btn-success.dropdown-toggle {
    background-color: #51a351
}

.btn-group.open .btn-info.dropdown-toggle {
    background-color: #2f96b4
}

.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222
}

.btn .caret {
    margin-top: 8px;
    margin-left: 0
}

.btn-large .caret {
    margin-top: 6px
}

.btn-large .caret {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px
}

.btn-mini .caret,.btn-small .caret {
    margin-top: 8px
}

.dropup .btn-large .caret {
    border-bottom-width: 5px
}

.btn-danger .caret,.btn-info .caret,.btn-inverse .caret,.btn-primary .caret,.btn-success .caret,.btn-warning .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}

.btn-group-vertical {
    display: inline-block
}

.btn-group-vertical>.btn {
    display: block;
    float: none;
    max-width: 100%;
    border-radius: 0
}

.btn-group-vertical>.btn+.btn {
    margin-left: 0;
    margin-top: -1px
}

.btn-group-vertical>.btn:first-child {
    border-radius: 4px 4px 0 0
}

.btn-group-vertical>.btn:last-child {
    border-radius: 0 0 4px 4px
}

.btn-group-vertical>.btn-large:first-child {
    border-radius: 6px 6px 0 0
}

.btn-group-vertical>.btn-large:last-child {
    border-radius: 0 0 6px 6px
}
