{% extends 'base.html' %}
{% block content %}
<div>
    <h1>登录</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages%}
    <div>{{msg}}</div>
    {% endfor%}
    {% endif %}
    {% endwith %}

    {% macro render_field(field) %}
      {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      <dt>{{ field.label }}
      <dd>{{ field(**kwargs)|safe }}</dd>
    {% endmacro %}

    <form action='login' method='POST'>
        {{ form.csrf_token }}
        {{ render_field(form.phone) }}
        {{ render_field(form.passwd) }}
        <input type='submit' value='登录'/>
    </form>
</div>
{%endblock%}
